[Unit]
Description=Tobyshelf container
Requires=tobyshelf-db.container
After=tobyshelf-db.container

[Container]
ContainerName=tobyshelf
Image=ghcr.io/tobyshelf-tools/tobyshelf:v0.38.2
Pod=tobyshelf.pod
AutoUpdate=registry
Pull=always

Volume=tobyshelf-data:/app/data
# note the :z is important for selinux systems
# Volume=YOUR MOUNTS:/books:z
# Volume=YOUR MOUNTS:/bookdrop:z


Environment=TZ=Etc/UTC
Secret=tobyshelf_db_pass,type=env,target=DATABASE_PASSWORD
Environment=DATABASE_URL=jdbc:mariadb://localhost:3306/tobyshelf
Environment=DATABASE_USERNAME=tobyshelf
HealthCmd=wget -q -O - http://localhost:6060/api/v1/healthcheck
HealthInterval=1m
HealthRetries=5
HealthStartPeriod=1m
HealthTimeout=10s

[Install]
WantedBy=default.target
