[Unit]
Description=Tobyshelf Database Container Using MariaDB

[Container]
ContainerName=tobyshelf-db
Image=lscr.io/linuxserver/mariadb:11.4.8
Pod=tobyshelf.pod
Pull=always

Volume=tobyshelf-db:/config

Environment=TZ=Etc/UTC
Environment=PUID=0
Environment=PGID=0
Environment=MYSQL_USER=tobyshelf
Secret=tobyshelf_db_pass,type=env,target=MYSQL_ROOT_PASSWORD
Secret=tobyshelf_db_pass,type=env,target=MYSQL_PASSWORD
Environment=MYSQL_DATABASE=tobyshelf

DropCapability=all
AddCapability=CAP_CHOWN CAP_SETUID CAP_SETGID CAP_FOWNER
